@import url('https://fonts.cdnfonts.com/css/satoshi');
/* Define the font family and link the files */
@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/integral-cf-bold.woff2') format('woff2'),
       url('/fonts/integral-cf-bold.woff') format('woff');
  font-weight: 700; /* Use 800 or 900 for Heavy/Ultra styles */
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

input,
textarea,
select {
    outline: none;
    border: 1px solid var(--border-color);
}

/* Card */
.section-title{
    font-family: Integral CF;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-bottom:55px  !important;
  }
  .product-img{
    border-radius:20px;
    width: 100%;
    height:298px ;
    margin-bottom:12px;
  }
  .product-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
  .card-body h6{
     font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

  }
  .rating{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:12px;
    margin-bottom:6px;
  }
  .fs-s{
    font-size: 18px;
  }
  .fs-r{
    font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

  }
  .fs-p{
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;

  }
  .fs-p-d{
    font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-decoration: line-through;

  }
  .fs-p-d-p{
    font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 12px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
padding: 6px 13px;

  }
  .btn-view{
    padding: 15px 80px;
    font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
border-radius: 62px;
border: 1px solid #0000001A;
  }
  .btn-view:hover{
    background: #000000;
    color: #ffffff;
  }



/* Footer */
footer {
    background: #F0F0F0;
    padding-top: 70px;
}
.footer-logo {
    font-family: Integral CF;
    font-weight: 700;
    font-style: Bold;
    font-size: 33.45px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 25px;

}
.footer-text {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 0px;
    margin-bottom: 35px;
    width: 248px;
    color: rgba(0, 0, 0, 0.6);

}
.social-icons a {
    width: 28px;
    height: 28px;
    border: 1px solid #00000033;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: .3s;
}
.social-icons a:hover {
    background: #000;
    color: #fff;
}
.footer-title {
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: #000000;
}
.footer-links li {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 19px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}
.footer-links a {
    color: #00000099;
    text-decoration: none;
    transition: .3s;
}
.footer-links a:hover {
    color: #000;
}
.border-driver{
    margin-top: 55px;
}
.payment-card {
    background: #fff;
    border-radius: 5.38px;
    padding: 10px 12px 8px;        
}

@media (max-width: 992px) {
}
@media (max-width: 768px){
}

@media (max-width: 576px) {
}